/*
Theme Name: WP Bootstrap Starter Child
Theme URI: https://afterimagedesigns.com/wp-bootstrap-starter/
Author: Fabio Messias
Author URI: https://afterimagedesigns.com/
Description:  WP Bootstrap Starter Child
Version: 1.0.0
Template: wp-bootstrap-starter
License URI: LICENSE
Text Domain: wp-bootstrap-starter-child
*/
@media screen and (min-width: 1600px) {
	.l-blogs__highlight__title {
		font-size: 2.5rem;	
	}
	
	.l-digital__book__title {
		font-size: 1.5rem !important;
	}
}

.l-top__social-media__item {
	width: 30px !important;
	height: 30px !important;
}

.l-navbar__brand-box {
	width: 110px;
	height: 126px;
}

.l-navbar__brand-box::before {
	content: '';
	width: 100%;
	height: 150px;
	top: 0;
	left: 0;
	position: absolute;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	background-color: #FFF;
	z-index: 4;
}

.l-navbar__brand-box a {
	transform: translateY(-12px);
	z-index: 4;
}

.l-navbar .nav-item {
	margin: 0 .5rem !important;
}

.l-navbar .nav-link {
	font-size: .875rem !important;
}

@media screen and (max-width: 991px) {
	.l-navbar .nav-link {
		color: #FFF !important
	}
}

.l-news img {
    object-fit: cover !important;
}

.l-news__highlight__card-title {
    max-height: 195px;
    line-height: 39px;
    overflow-y: hidden;
}

.l-news__medium__card-title {
    max-height: 52px;
    line-height: 26px;
    overflow-y: hidden;
}

.l-news__small__card-title {
    max-height: 57px;
    line-height: 19px;
    overflow-y: hidden;
}

.l-blogs .card img {
	width: 100%;
	height: 215px;
	object-fit: cover;
}